@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600");
body {
  margin: 0;
  padding: 1% 10%;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3fdfd;
  color: #141414;
}
.home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("../background.jpg");
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home > .container {
  opacity: 0;
  background-color: rgba(203,241,245,0.9);
  animation: appear 1s 0.5s forwards;
}
.container,
.navbar {
  background: #cbf1f5;
  border: 1px solid rgba(113,201,206,0.9);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 10px rgba(20,20,20,0.3);
  -moz-box-shadow: 1px 2px 10px rgba(20,20,20,0.3);
  -o-box-shadow: 1px 2px 10px rgba(20,20,20,0.3);
  box-shadow: 1px 2px 10px rgba(20,20,20,0.3);
  padding: 15px;
  margin-bottom: 15px;
}
.navbar {
  background: #a6e3e9;
  padding: 7px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  font-weight: 600;
  color: #141414;
  text-decoration: none;
  font-size: 1.3rem;
}
.navbar a:hover {
  color: #e3fdfd;
  cursor: pointer;
  text-shadow: 2px 2px 1px #31898e;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  margin: 0 1rem;
  display: inline;
}
.navbar .nav-active {
  color: #f4fefe;
  text-shadow: 1px 1px 1px #215c5f;
}
h1,
h2,
h3 {
  text-align: center;
}
.search-area {
  padding: 7px;
  margin: 2px;
  background-color: #a6e3e9;
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(113,201,206,0.7);
}
#search-box {
  width: 60%;
}
#search-box .search-input {
  background-color: #e3fdfd;
  margin: 0 10px;
  border: 1px solid rgba(113,201,206,0.7);
  padding: 3px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
}
#search-box .search-input:focus {
  outline: none;
}
#search-box .search-input:hover {
  border: 1px solid #71c9ce;
}
#search-box .form-button {
  background-color: #cbf1f5;
  margin: 5px 0 2px 10px;
}
#search-box .genres-input {
  margin: 5px 3px;
}
#search-box .genres-input .genres-input__menu {
  background-color: #e3fdfd;
}
#search-box .genres-input .genres-input__control {
  background-color: #e3fdfd;
  border: 1px solid rgba(113,201,206,0.7);
}
#search-box .genres-input .genres-input__control .genres-input__dropdown-indicator {
  padding: 5px;
}
#search-box .genres-input .genres-input__control:hover {
  border: 1px solid #71c9ce;
}
#search-box .genres-input .genres-input__control--is-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#search-box .genres-input .genres-input__multi-value {
  background-color: #cbf1f5;
}
#search-box .submit-buttons {
  margin-top: 5px;
}
.shows-limit {
  margin: 0 10px;
}
.limit-dropdown {
  margin: 5px 3px;
}
.limit-dropdown .limit-dropdown__menu {
  background-color: #e3fdfd;
}
.limit-dropdown .limit-dropdown__control {
  background-color: #e3fdfd;
  border: 1px solid rgba(113,201,206,0.7);
}
.limit-dropdown .limit-dropdown__control .limit-dropdown__dropdown-indicator {
  padding: 5px;
}
.limit-dropdown .limit-dropdown__control:hover {
  border: 1px solid #71c9ce;
}
.limit-dropdown .limit-dropdown__control--is-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.limit-dropdown .limit-dropdown__control {
  width: 80%;
  margin: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e3fdfd inset;
}
.pagination-container,
.page-link {
  font-size: 0.85rem;
}
.page-item {
  display: inline;
}
.pagination {
  background-color: #a6e3e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(113,201,206,0.7);
  padding: 2px 3px;
  margin: 10px 0;
}
a.btn {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 32px;
}
a.btn:hover {
  -webkit-box-shadow: 2px 2px 3px rgba(20,20,20,0.5);
  -moz-box-shadow: 2px 2px 3px rgba(20,20,20,0.5);
  -o-box-shadow: 2px 2px 3px rgba(20,20,20,0.5);
  box-shadow: 2px 2px 3px rgba(20,20,20,0.5);
}
.homepage-buttons {
  text-align: center;
  margin: 10px;
}
button,
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 3px;
  background-color: #86d9e1;
  color: #141414;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(20,20,20,0.1);
  -moz-box-shadow: 1px 1px 1px rgba(20,20,20,0.1);
  -o-box-shadow: 1px 1px 1px rgba(20,20,20,0.1);
  box-shadow: 1px 1px 1px rgba(20,20,20,0.1);
}
button.form-button,
.btn.form-button {
  padding: 5px 10px;
  border: 1px solid #71c9ce;
}
button.page-link,
.btn.page-link {
  padding: 3px 10px;
}
button:hover:not(.active),
.btn:hover:not(.active) {
  border: 1px solid #e3fdfd;
  margin: 2px;
}
.active {
  color: #fff;
  border: 2px solid #e3fdfd;
  text-shadow: 1px 1px #39a0a6;
}
.table {
  display: table;
  width: 100%;
  background-color: #cbf1f5;
}
.table .description {
  text-align: justify;
}
.table-row {
  display: table-row;
}
.table-row:nth-child(odd) {
  background-color: #ddf6f8;
}
.table-row:nth-child(even) {
  background-color: #c0eef3;
}
.table-cell,
.table-head {
  border: 1px solid rgba(113,201,206,0.55);
  display: table-cell;
  padding: 3px 8px;
  vertical-align: middle;
}
.table-head {
  text-align: center;
  background-color: #a6e3e9;
}
.table-heading {
  background-color: main-color;
  display: table-header-group;
  font-weight: bold;
}
.table-body {
  display: table-row-group;
}
.read-more {
  cursor: pointer;
}
img.poster {
  width: 150px;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px 0;
}
img.poster:hover {
  opacity: 0.8;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1.5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #141414;
  background-color: rgba(20,20,20,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 30vw;
  height: auto;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.caption {
  margin: auto;
  display: block;
  width: 85%;
  max-width: 350px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close :focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.loading {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #71c9ce;
  width: 120px;
  height: 120px;
  border-top-color: #a6e3e9;
  border-bottom-color: #a6e3e9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
