@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600');
@import "_mixins.styl"
@import "_variables.styl"

body
    margin: 0
    padding: 1% 10%
    font-family: 'Libre Franklin', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: first-color
    color: black

.home
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url('../background.jpg');
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

.home > .container
    opacity: 0
    background-color: rgba(second-color, 0.9)
    animation: appear 1s 0.5s forwards

@keyframes appear
    0%
        opacity: 0;

    100%
        opacity: 1;

.container
.navbar
    background: second-color
    border: 1px solid rgba(fourth-color, 0.9)
    border-radius: 6px
    box-shadow: 1px 2px 10px rgba(black, 0.3)
    padding: 15px
    margin-bottom: 15px

.navbar
    background: third-color
    padding: 7px
    margin-bottom: 1rem
    display: flex
    justify-content: space-around
    align-items: center
    & a
        font-weight: 600
        color: black
        text-decoration: none
        font-size: 1.3rem
        &:hover
            color: first-color
            cursor: pointer
            text-shadow: 2px 2px 1px darken(fourth-color, 40%)
    & ul
        list-style-type: none
        & li
            margin: 0 1rem
            display: inline
    & .nav-active
        color: lighten(first-color, 60%)
        text-shadow: 1px 1px 1px darken(fourth-color, 60%)

h1, h2, h3
    text-align: center

.search-area
    padding 7px
    margin 2px
    background-color: third-color
    display: flex
    justify-content: space-between
    border-radius: 4px
    border: 1px solid rgba(fourth-color, 0.7)

#search-box
    width: 60%
    & .search-input
        background-color: first-color
        margin 0 10px
        border: 1px solid rgba(fourth-color, 0.7)
        padding: 3px 8px
        border-radius: 4px
        font-size: 0.9rem
        &:focus
            outline: none
        &:hover
            border: 1px solid fourth-color
    & .form-button
        background-color: second-color
        margin 5px 0 2px 10px
    & .genres-input
        select-formatting("genres-input")
        & .genres-input__multi-value
            background-color: second-color
    & .submit-buttons
        margin-top: 5px

.shows-limit
    margin: 0 10px

.limit-dropdown
    select-formatting("limit-dropdown")
    & .limit-dropdown__control
        width: 80%
        margin: auto

input:-webkit-autofill
input:-webkit-autofill:hover
input:-webkit-autofill:focus 
input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px first-color inset

.pagination-container
.page-link
    font-size: 0.85rem

.page-item
    display: inline

.pagination
    background-color third-color
    border-radius: 4px
    border: 1px solid rgba(fourth-color, 0.7)
    padding: 2px 3px
    margin: 10px 0

a
    &.btn
        font-size: 1.5rem
        font-weight: 600
        padding: 15px 32px
        &:hover
            box-shadow: 2px 2px 3px rgba(black, 0.5)

.homepage-buttons
    text-align: center
    margin: 10px

button
.btn
    border: none
    text-align: center
    text-decoration: none
    display: inline-block
    margin: 3px 3px
    background-color: darken(third-color, 10%)
    color: black
    border-radius: 4px
    box-shadow: 1px 1px 1px rgba(black, 0.1)
    &.form-button
        padding: 5px 10px
        border: 1px solid rgba(fourth-color, 1)
    &.page-link
        padding: 3px 10px
    &:hover
        &:not(.active)
            border: 1px solid first-color
            margin: 2px

.active
    color: white
    border: 2px solid first-color
    text-shadow: 1px 1px darken(fourth-color, 30%);

.table
    display: table
    width: 100%
    background-color: second-color
    & .description
        text-align: justify

.table-row
    display: table-row
    &:nth-child(odd) 
        background-color: lighten(second-color, 35%)
    &:nth-child(even)
        background-color: darken(second-color, 3%)

.table-cell, .table-head 
    border: 1px solid rgba(fourth-color, 0.55)
    display: table-cell
    padding: 3px 8px
    vertical-align: middle

.table-head
    text-align: center
    background-color: third-color

.table-heading 
    background-color: main-color
    display: table-header-group
    font-weight: bold

.table-body 
    display: table-row-group

img.poster
    width: 150px
    height: auto
    border-radius: 5px
    cursor: pointer
    transition: 0.3s
    margin: 5px 0
    &:hover
        opacity: 0.8

// modal image
.modal
    display: none
    position: fixed
    z-index: 1
    padding-top: 1.5%
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: black
    background-color: rgba(black, 0.9)

.modal-content
    margin: auto
    display: block
    max-width: 30vw
    height: auto
    animation-name: zoom
    animation-duration: 0.6s

.caption
    margin: auto
    display: block
    width: 85%
    max-width: 350px
    text-align: center
    color: #ccc
    padding: 10px 0
    animation-name: zoom
    animation-duration: 0.6s

@keyframes zoom
    from
        transform: scale(0) 
    to
        transform: scale(1)

.close
    position: absolute
    top: 15px
    right: 35px
    color: #f1f1f1
    font-size: 40px
    font-weight: bold
    transition: 0.3s
    &:hover, :focus
        color: #bbb
        text-decoration: none
        cursor: pointer

.loading
    margin:auto
    margin-top: 100px
    margin-bottom: 100px
    border: 16px solid fourth-color
    width: 120px
    height: 120px
    border-top-color: third-color
    border-bottom-color: third-color
    border-radius: 50%
    animation: spin 4s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)
    
    100%
        transform: rotate(360deg)
